body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
  background-color: #fafafa;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img,
button {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.container {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0 34px 0;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  gap: 5px;
  align-items: center;
}
.logo__italic {
  font-style: italic;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.header__menu-item-link {
  font-weight: 500;
}
.header__social-list {
  display: flex;
  align-items: center;
  gap: 18px;
}
.hero__inner {
  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
.hero__title {
  padding-top: 380px;
  max-width: 484px;
  min-height: 102px;
  font-weight: 500;
  color: #fff;
  line-height: 1.21;
  letter-spacing: -0.03em;
  font-size: 28px;
  margin-bottom: 32px;
  padding-left: 40px;
}
.hero__menu-list {
  display: flex;
  gap: 14px;
  align-items: center;
  padding-bottom: 40px;
  padding-left: 40px;
}
.hero__menu-btn {
  cursor: pointer;
  padding: 14px 40px;
  background-color: #fd9222;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-weight: 600;
}
.hero__menu-link {
  background-color: transparent;
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 14px 40px;
  font-weight: 600;
}
.hero__scroll {
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 585px;
}
.hero__scroll-inner {
  width: 38px;
  height: 38px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits {
  padding-top: 72px;
}
.benefits__inner {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.benefits__list {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.benefits__list-item {
  width: calc((100% - 140px) / 3);
  position: relative;
}
.benefits__item-icons {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}
.benefits__list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 124px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  right: -79px;
  top: 130px;
  transform: rotate(90deg);
}
.benefits__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.18;
  color: #fff;
  margin-bottom: 18px;
}
.benefits__item-text {
  max-width: 308px;
  color: rgba(255, 255, 255, 0.7);
}
.taste {
  padding: 100px 0 100px 0;
}
.taste__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  margin: 0 auto;
  max-width: 411px;
  margin-bottom: 28px;
  letter-spacing: -0.03em;
}
.taste__title-span {
  color: #fd9222;
  font-weight: 800;
}
.taste__text {
  margin: 0 auto;
  text-align: center;
  max-width: 486px;
  margin-bottom: 50px;
}
.taste__list {
  display: flex;
  align-items: center;
  gap: 19px;
}
.taste__list-item {
  width: calc((100% - 57px) / 4);
  border-radius: 15px;
  padding: 28px 36px 28px 28px;
}
.taste__list-item:hover .taste__overlay,
.taste__list-item:focus .taste__overlay {
  transform: translateY(0%);
}
.taste__overlay-inner {
  position: relative;
  overflow: hidden;
}
.taste__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.taste__overlay-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
  color: #111111;
}
.taste__overlay-list-links {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 14px;
}
.taste__overlay-link-current {
  background: #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
}
.taste__overlay-link-benefits {
  padding: 6px 16px;
  border: 1px solid #fd9222;
  border-radius: 35px;
  background: #fafafa;
  color: #111111;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
}
.taste__overlay-text {
  color: #111111;
  max-width: 230px;
}
.taste__item-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  margin-bottom: 36px;
}
.taste__item-text {
  font-weight: 600;
  width: 100%;
}
.taste__list-item:nth-child(odd) {
  color: #fff;
}
.taste__list-item:nth-child(even) {
  border: 1px solid #fd9222;
}
.taste__list-item:first-child {
  background-color: #fd9222;
}
.taste__list-item:nth-child(3) {
  background-color: #1e1823;
}
.about {
  padding-bottom: 100px;
}
.about__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.about__title-span {
  color: #fd9222;
}
.about__inner {
  display: flex;
  gap: 20px;
}
.about__img {
  border-radius: 15px;
}
.about__content {
  max-width: 516px;
  background-color: #fff;
  padding: 32px;
  border-radius: 15px;
}
.about__content-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
  max-width: 350px;
}
.about__content-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about__content-item {
  position: relative;
  padding-left: 8px;
}
.about__content-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
  left: -5px;
  top: 4px;
}
.team {
  padding-bottom: 100px;
}
.team__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  margin-bottom: 98px;
}
.team__title-span {
  color: #fd9222;
}
.team__content {
  display: flex;
  gap: 28px;
  margin-bottom: 49px;
}
.team__content-box {
  max-width: 360px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 100px rgba(17, 17, 17, 0.03);
  border-radius: 15px;
  text-align: center;
  padding: 56px 24px 24px 24px;
  position: relative;
}
.team__content-box-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 24px;
}
.team__content-box-text {
  max-width: 312px;
}
.team__btn {
  margin: 0 auto;
  border: 1px solid #fd9222;
  border-radius: 100px;
  background-color: transparent;
  line-height: 1.31;
  font-weight: 600;
  font-size: 18px;
  padding: 14px 40px;
  border-radius: 100px;
  cursor: pointer;
}
.team__content-box::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.team__content-box:nth-child(1):before {
  background-image: url(../images/team-1.png);
}
.team__content-box:nth-child(2):before {
  background-image: url(../images/team-2.png);
}
.team__content-box:nth-child(3):before {
  background-image: url(../images/team-3.png);
}
.footer {
  background-color: #1e1823;
  color: #fff;
}
.footer__inner {
  padding: 50px 0 50px 0;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
}
.footer__top-title {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
}
.footer__top-title-span {
  color: #fd9222;
}
.footer__top-address {
  max-width: 164px;
}
.footer__top-address-text {
  font-weight: 500;
  font-style: normal;
  margin-bottom: 14px;
}
.footer__top-address-link {
  font-style: normal;
  font-weight: 400;
}
.footer__top-address-link:not(:last-child) {
  margin-bottom: 4px;
}
.footer__down-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer__down {
  display: flex;
  justify-content: space-between;
}
.footer__down-item {
  padding: 18px 0 18px 0;
}
.footer__down-item-link {
  font-weight: 500;
  line-height: 1.14;
}
.footer__down-form {
  display: flex;
  gap: 8px;
  align-items: center;
}
.footer__down-input {
  background-color: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 15px 24px;
  width: 313px;
}
.footer__down-input:placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
}
.footer__down-btn {
  padding: 18px 33px;
  border: none;
  cursor: pointer;
  background: #fd9222;
  border-radius: 100px;
  color: #fff;
  font-weight: 600;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__inner {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  width: 517px;
  min-height: 628px;
  background: #fafafa;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal__container {
  padding: 40px;
}
.modal__btn {
  background-color: transparent;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 24px;
  top: 24px;
}
.modal__title {
  max-width: 298px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.modal__title-span {
  color: #fd9222;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.modal__form-input {
  width: 100%;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  padding: 22px 24px;
  outline: none;
}
.modal__form-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  font-style: normal;
}
.modal__form-input-number {
  padding-left: 160px;
}
.modal__form-label {
  position: relative;
}
.modal__form-label-icon-box {
  display: flex;
  gap: 18px;
  align-items: center;
  padding: 5px 32px 5px 0;
  max-width: 125px;
  position: absolute;
  top: 14px;
  left: 24px;
  box-shadow: 2.72246px 0px 0px rgba(0, 0, 0, 0.1);
}
.modal__form-label-span {
  font-weight: 500;
  color: #000;
  font-size: 18px;
}
.modal__form-textarea {
  width: 100%;
  resize: none;
  min-height: 137px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  margin-bottom: 21px;
  outline: none;
}
.modal__form-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.modal__form-btn-send {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  padding: 14px 40px;
  background: #fd9222;
  border-radius: 100px;
  max-width: 117px;
  border: none;
  cursor: pointer;
}
