body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img,
button {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.container {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0 34px 0;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  gap: 5px;
  align-items: center;
}
.logo__italic {
  font-style: italic;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.header__menu-item-link {
  font-weight: 500;
}
.header__social-list {
  display: flex;
  align-items: center;
  gap: 18px;
}
.hero__inner {
  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
.hero__title {
  padding-top: 380px;
  max-width: 484px;
  min-height: 102px;
  font-weight: 500;
  color: #fff;
  line-height: 1.21;
  letter-spacing: -0.03em;
  font-size: 28px;
  margin-bottom: 32px;
  padding-left: 40px;
}
.hero__menu-list {
  display: flex;
  gap: 14px;
  align-items: center;
  padding-bottom: 40px;
  padding-left: 40px;
}
.hero__menu-btn {
  cursor: pointer;
  padding: 14px 40px;
  background-color: #fd9222;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-weight: 600;
}
.hero__menu-link {
  background-color: transparent;
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 14px 40px;
  font-weight: 600;
}
.hero__scroll {
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 585px;
}
.hero__scroll-inner {
  width: 38px;
  height: 38px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits {
  padding-top: 72px;
}
.benefits__inner {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.benefits__list {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.benefits__list-item {
  width: calc((100% - 140px) / 3);
  position: relative;
}
.benefits__item-icons {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}
.benefits__list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 124px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  right: -79px;
  top: 130px;
  transform: rotate(90deg);
}
.benefits__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.18;
  color: #fff;
  margin-bottom: 18px;
}
.benefits__item-text {
  max-width: 308px;
  color: rgba(255, 255, 255, 0.7);
}
.taste {
  padding: 100px 0 100px 0;
}
.taste__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  margin: 0 auto;
  max-width: 411px;
  margin-bottom: 28px;
  letter-spacing: -0.03em;
}
.taste__title-span {
  color: #fd9222;
  font-weight: 800;
}
.taste__text {
  margin: 0 auto;
  text-align: center;
  max-width: 486px;
  margin-bottom: 50px;
}
.taste__list {
  display: flex;
  align-items: center;
  gap: 19px;
}
.taste__list-item {
  width: calc((100% - 57px) / 4);
  border-radius: 15px;
  padding: 28px 36px 28px 28px;
}
.taste__item-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  margin-bottom: 36px;
}
.taste__item-text {
  font-weight: 600;
  width: 100%;
}
.taste__list-item:nth-child(odd) {
  color: #fff;
}
.taste__list-item:nth-child(even) {
  border: 1px solid #fd9222;
}
.taste__list-item:first-child {
  background-color: #fd9222;
}
.taste__list-item:nth-child(3) {
  background-color: #1e1823;
}
.about {
  padding-bottom: 100px;
}
.about__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.about__title-span {
  color: #fd9222;
}
.about__inner {
  display: flex;
  gap: 20px;
}
.about__img {
  border-radius: 15px;

  width: 100%;
  height: 100%;
}
.about__content {
}
.about__content-title {
}
.about__content-list {
}
.about__content-item {
}
.about__content-item-text {
}
